# Compiled app and distribution artifacts
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcodeproj
*.xcworkspace
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift
.build/
.swiftpm/
